h1{
    position: absolute;
    top: 10vh;
    left: 80vh;
}

h3{
    font-size: 50px;
    display: inline-block;
    width: 1000px;
    text-align: left;
    position: absolute;
    top: 30vh;
    left: 55vh;
}

/* o geral funciona no character select mas nao neste, ve depois*/
#voltar{
    position: absolute;
    top: 85vh;
    left: 34vh;
}
