body {
    margin: 0px;
}



iframe
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-style: solid;
    border-width: 3.5px;
    width: 1344px;
    height: 756px;
}



* {
    outline: 0;
}
