#retomar{
    position: absolute;
    left: 44%;
    top: 30%;
}

#ajuda{
    position: absolute;
    left: 44%;
    top: 40%;
}

#definicoes{
    position: absolute;
    left: 44%;
    top: 50%;
}

#sair{
    position: absolute;
    left: 44%;
    top: 60%;
}